
.background{
  height: 959px;
  width: 2000px;
  opacity: 0.3;  
}


.body{
  background-color: black;
  overflow-x: hidden;
  height: 1000px;
}


.contact-div{
  position: relative;
  top: -680px;
  margin-left: -5px;
  height: 605px;
  width: 1890px;
  border: crimson 2px ;
  background-color: wheat;
}


.message-input{
  border: goldenrod 2px solid;
  background-color: whitesmoke;
  position: absolute;
  top: 120px;
  left: 80px;
  height: 316px;
  width: 400px;
}


.name-input{
  height: 50px;
  width: 393px;
  position: absolute;
  font-size: x-large;
  
}


.email-input{
  height: 50px;
  width: 393px;
  position: absolute;
  top: 100px;
  right: 0px;
  font-size: x-large;
}


.message-input-text{
  top: 170px;
  height: 80px;
  
  font-size: x-large;
  width: 392px;
  text-align: initial;
  position: absolute;
}



.submit-button{
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: large;
  border: none;
  width: 140px;
  height: 40px;
  background-color: goldenrod;
}


.phone-icon{
  position: absolute;
  height: 100px;
  left: 800px;
  top: 120px;
}


.phone-text{
  position: absolute;
  font-size: xx-large;
  left: 680px;
  top: 210px;
  font-weight: bold;
}


.email-icon{
  position: absolute;
  height: 100px;
  left: 1400px;
  top: 120px;
}


.email-text{
  position: absolute;
  font-size: xx-large;
  left: 1180px;
  top: 210px;
  font-weight: bold;
}


.number-line{
  text-decoration: underline;
  color: goldenrod;
}


.email-line{
  text-decoration: underline;
  color: goldenrod;
}


.top-shortCuts-div{
  border: black 2px solid;
background-color: #181717;
position: fixed;
height: 60px;
width: 1900px;
z-index: 20;
top: 0px;
right: 2px;
}


.home-shortCut{
  color: goldenrod;
font-size: xx-large;
cursor: pointer;
width: 30px;
position: absolute;
right: 800px;
top: -20px;
text-decoration: underline;
}


.vehicles-shortCut{
  color: goldenrod;
font-size: xx-large;
cursor: pointer;
width: 30px;
position: absolute;
right: 680px;
top: -20px;
text-decoration: underline;
}



.Corporate-account-shortCut{
  color: goldenrod;
font-size: xx-large;
cursor: pointer;
width: 110px;
position: absolute;
right: 450px;
top: -20px;
text-decoration: underline;
}



.contact-shortCut{
  color: goldenrod;
font-size: xx-large;
cursor: pointer;
width: 190px;
position: absolute;
right: 220px;
top: -20px;
text-decoration: underline;
}

.special-request-shortCut{
  color: goldenrod;
font-size: xx-large;
cursor: pointer;
width: 290px;
position: absolute;
right: -60px;
top: -20px;
text-decoration: underline;
}



.home-title{
  font-size: xx-large;
  position: relative;
  z-index: 10;
  color: goldenrod;
  left: 20px;
  top: -25px;
  display: inline-block;
  text-decoration: underline;
}



.home-footer{
  height: 560px;
  width: 1900px;
  margin-left: -5px;
  top: -610px;
  border: 2px solid;
  background-color: wheat;
  position: relative;
}


.home-shortCut-footer{
  color: goldenrod;
  font-size: 43px;
  cursor: pointer;
  position: absolute;
  left: 750px;
  text-decoration: underline;
  margin-top: 0px;
}


.vehicles-shortCut-footer{
  color: goldenrod;
  font-size: 43px;
  cursor: pointer;
  position: absolute;
  left: 750px;
  text-decoration: underline;
  margin-top: 70px;
}


.Corporate-account-shortCut-footer{
  color: goldenrod;
  font-size: 43px;
  cursor: pointer;
  position: absolute;
  left: 750px;
  text-decoration: underline;
  margin-top: 150px;
}



.contact-shortCut-footer{
  color: goldenrod;
  font-size: 43px;
  cursor: pointer;
  position: absolute;
  left: 750px;
  text-decoration: underline;
  margin-top: 240px;
}


.special-request-shortCut-footer{
  color: goldenrod;
  font-size: 43px;
  cursor: pointer;
  position: absolute;
  left: 750px;
  text-decoration: underline;
  margin-top: 320px;
}



.footer-image{
  height: 350px;
  margin-top: 100px;
  margin-left: 100px;
}


.footer-image-two{
  height: 350px;
  margin-top: 100px;
  margin-left: 530px;
}